# Node.js dependencies
/node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# npm package lock files
package-lock.json
yarn.lock

# VS Code settings
.vscode/

# Build output
/dist
/build

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

node_modules/
dist/

client/geo-lab2-client/public/icons.svg
client/geo-lab2-client/src/assets/

geoserver_data/**/*.bak
geoserver_data/**/*.properties
geoserver_data/**/tomcat_pass.txt