# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/public/icons.svg
/geoserver_data/gwc/diskquota_page_store_hsql/diskquota.log
/geoserver_data/gwc/geowebcache_2026-04-04T185626.bak
/geoserver_data/logs/geoserver.log
/geoserver_data/tomcat_pass.txt
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
