
*.log
*.tmp
*.bak
*.swp
*.swo
*~
.DS_Store
Thumbs.db


node_modules/
init-db/

dist/
.vite/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
map_edited.osm
overture_small.geojson
buildings.duckdb.wal
buildings.duckdb

